html {
  height: 100%;
}

body {
  background: #161614;
  height: inherit;
  margin: 0;
  padding: 0;
}

.map {
  height: 100%;
}

.water {
    fill: none;
}

.land {
  fill: #40403E;
  stroke: #31322D;
  stroke-width: 0.7px;
}